<div class="container">
    <form #editEmpForm="ngForm" (ngSubmit)="onSubmit(editEmpForm)">
        <label for="full_name">Full name</label>
        <br>
        <input name="full_name" type="text" [(ngModel)]='mem.full_name' required>
        <br>
        <label for="username">Username</label>
        <br>
        <input name="username" type="text" #uname="ngModel" [(ngModel)]='user.username' required>
        <br>
        <label for="title">Title</label>
        <br>
        <select name="title" [(ngModel)]='mem.title'>
            <option *ngFor="let title of titles" [selected]="mem.title == title">{{ title }}</option>
        </select>
        <br>
        <label for="level">Level</label>
        <br>
        <select name="level" [(ngModel)]='mem.level'>
            <option *ngFor="let level of levels" [selected]="mem.level == level">{{ level }}</option>
        </select>
        <br>
        <label for="dept">Department</label>
        <br>
        <select name="dept" [(ngModel)]='mem.dept'>
            <option *ngFor="let dept of depts" [selected]="dept.id == mem.dept">{{ dept.dept_name }}</option>
        </select>
        <br>
        <label for="address">Address</label>
        <br>
        <input name="address" type="text" [(ngModel)]='mem.address' required>
        <br>
        <label for="email">Email</label>
        <br>
        <input name="email" type="email" [(ngModel)]='mem.email' required>
        <br>
        <label for="work_phone">Work phone</label>
        <br>
        <input name="work_phone" type="tel" [(ngModel)]='mem.work_phone' pattern="" required>
        <br>
        <label for="home_phone">Home phone</label>
        <br>
        <input name="home_phone" type="tel" [(ngModel)]='mem.home_phone' pattern="" required>
        <br>
        <label for="cell_phone">Cell phone</label>
        <br>
        <input name="cell_phone" type="tel" [(ngModel)]='mem.cell_phone' pattern="" required>
        <br>
        <label for="manOfMonth">Man of month</label>
        <input type="checkbox" name='manOfMonth' [checked]="mem.manOfMonth" [(ngModel)]="mem.manOfMonth" />
        <br>
        <label for="profile">Profile(optional)</label>
        <img src="{{ mem.profile }}" height="30">
        <input name="profile" type="file" />
        <br><br>
        <div class="form-row">
            <div class="form-group col-md-1">
                <button [disabled]="!editEmpForm.valid" class="btn btn-primary" type="submit">Update</button>
            </div>
            <div class="form-group col-md-1">
                <button class="btn btn-primary" (click)="onSubmit('delete')" type="button"
                    onclick="return confirm('Are you sure you want to delete this member?');">Delete</button>
            </div>
            <div class="form-group col-md-1">
                <button class="btn btn-primary" (click)="onSubmit('cancel')" type="button">Cancel</button>
            </div>
        </div>
    </form>
</div>