<div class="container">
    <form #editDeptForm="ngForm" (ngSubmit)="onSubmit(editDeptForm.value)">
        <label for="dept_name">
            Department
        </label>
        <br>
        <input name="dept_name" type="text" [(ngModel)]='dept.dept_name' required>
        <br><br>
        <div class="form-row">
            <div class="form-group col-md-1">
                <button [disabled]="!editDeptForm.valid" class="btn btn-primary" type="submit">Update</button>
            </div>
            <div class="form-group col-md-1">
                <button class="btn btn-primary" (click)="onSubmit('delete')" type="button"
                    onclick="return confirm('Are you sure you want to delete this department? All its employees will be deleted.');">Delete</button>
            </div>
            <div class="form-group col-md-1">
                <button class="btn btn-primary" (click)="onSubmit('cancel')" type="button">Cancel</button>
            </div>
        </div>
    </form>
</div>